body {
    margin: 0;
}

/***NAVBAR***/

.navbar {
    display: flex;
    flex-direction: row;
    background-color: lightgray;
    justify-content: space-between;
}

.navbar ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.list li {
    display: inline-flex;
}

.list a {
    display: block;
    padding: 22px;
    text-decoration: none;
    color: darkgreen;
    font-family: Arial, Helvetica, sans-serif;
}

.list a:hover {
    color: lightsalmon;
}

.logo-img {
    width: 70%;
}



